.nav-style{
    position:fixed;
    top:0;
    left:0;
    background:White;
    z-index:99;
    width:100%;
    background:black;
}

.menu-title{
    font-weight: 900;
    font-size: 16px;
    color: #F39C12;
}
.nav-style::after{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    height:3px;
    width:100%;
    background: #F39C12 ;
}

.menu{
  position: relative;
  font-size: 17px;
  font-weight: 600;
  color:#F39C12 ;
}

.menu::after {
    position: absolute;
    content: '';
    top: 37px;
    left: 0;
    height:0;
    width:0;
    background: black;
}
.menu:hover.menu::after {
    height: 3px;
    width:49px ;
    background:#F39C12;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.login-signUp{
    padding: 10px 0 10px 0;
    background:white;
}
.logo-image{
  height: 30px;
}

.logo-image img{
    height:100%;
}
.link-login{
    color:black;
    padding-right:10px;
    text-decoration: none;
    cursor: pointer;
}
.link-image {
    width:29px;
    height:29px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border:1px solid black;
    margin-right: 2px;
}

