.b-img{
    height:550px;
  } 
  .banner-text{
      margin-bottom: 100px;
  }
  .banner-text h3{
      color:#1B4F72 ;
      font-weight:900;
      font-size: 35px;
  }
  .text h3{
      color:white;  
  }